<main class="container-fluid side-collapse-container">
  <div class="container-fluid" style="padding: 0 0 15px 0;margin: -15px">
    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#feature-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#feature-carousel" data-slide-to="1"></li>
        <li data-target="#feature-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../assets/images/img1.jpg" alt="...">
          <div class="carousel-caption">
            ...
          </div>

        </div>
        <div class="item">
          <img src="../assets/images/img2.jpg" alt="...">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="../assets/images/img3.jpg" alt="...">
          <div class="carousel-caption">
            ...
          </div>
        </div>
      </div>

      <!-- Controls -->

      <a class="left carousel-control" href="#feature-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#feature-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
    <!-- ./carousel-->
  </div>

  <div class="row is-flex">
    <div class="col-lg-push-9 col-md-push-9 col-lg-3 col-md-3 col-sm-12 col-xs-12 white-panel">
      <h3 class="page-header">Announcements</h3>
      <ul class="custom-list-style">
        <li><a href="#">Institutions Hosting the Grand Finals of Smart India Hackathon</a></li>
        <li><a href="#">Web Portal has been reopened till 24-03-2017 Apply for Saksham Scheme</a></li>
        <li><a href="#">Feedback form for Faculty nad Students of AICTE Approved Institutions</a></li>
        <li><a href="#">Online Application form for Grievance related to Approval Process</a></li>
        <li><a href="#">Institutions Hosting the Grand Finals< of Smart India Hackthon</a></li>
        <li><a href="#">Web Portal has been reopened till 24-03-2017 Apply for Saksham Scheme</a></li>
      </ul>
      <nav aria-label="Announcements Pager">
        <ul class="pager">
          <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a>
          </li>
          <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-pull-3 col-md-pull-3 col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="row is-flex text-center">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 white-panel">
          <a href="" target="_blank">
            <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
            <h3 class="">Students</h3>
            <div><i class="fa fa-user" style="font-size: 2em"></i></div>
          </a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 white-panel">
          <a href="" target="_blank">
            <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
            <h3 class="">College</h3>
            <div><i class="fa fa-university" style="font-size: 2em"></i></div>
          </a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 white-panel">
          <a href="" target="_blank">
            <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
            <h3 class="">Employee</h3>
            <div><i class="fa fa-id-badge" style="font-size: 2em"></i></div>
          </a>
        </div>
      </div>
      <div class="row is-flex">
        <div class="col-xs-12 white-panel">
          <h3 class="page-header" align="center">Bulletion Board</h3>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span
                    class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Advertisements</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in   2e">
                <div class="panel-body">
                  <ul class="custom-list-style">
                    <li>Issue of Corrigendum No.1 Extension of last date of reciept of Bids
                      in respect of RFP selection for SWAYAM Project- <a
                        href="#">15/03/2017</a></li>

                    <li>"Smart India Hackathon - 2017 Grand Finale" - Mentor Registration
                      before 7th March, 2017- <a href="#">15/03/2017</a></li>

                    <li>Request for Proposal for selection of application support and
                      Helpdesk services for SWAYAM MOOCs Platform-<a href="#">15/03/2017</a>
                    </li>

                    <li>Issue of Corrigendum No.1 Extension of last date of reciept of Bids
                      in respect of RFP selection for SWAYAM Project- <a
                        href="#">15/03/2017</a></li>

                    <li>"Smart India Hackathon - 2017 Grand Finale" - Mentor Registration
                      before 7th March, 2017- <a href="#">15/03/2017</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i
                    class="fa fa-book" aria-hidden="true"></i> Jobs</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="custom-list-style">
                    <li>Issue of Corrigendum No.1 Extension of last date of reciept of Bids
                      in respect of RFP selection for SWAYAM Project- <a
                        href="#">15/03/2017</a></li>

                    <li>"Smart India Hackathon - 2017 Grand Finale" - Mentor Registration
                      before 7th March, 2017- <a href="#">15/03/2017</a></li>

                    <li>Request for Proposal for selection of application support and
                      Helpdesk services for SWAYAM MOOCs Platform-<a href="#">15/03/2017</a>
                    </li>

                    <li>Issue of Corrigendum No.1 Extension of last date of reciept of Bids
                      in respect of RFP selection for SWAYAM Project- <a
                        href="#">15/03/2017</a></li>

                    <li>"Smart India Hackathon - 2017 Grand Finale" - Mentor Registration
                      before 7th March, 2017- <a href="#">15/03/2017</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i
                    class="fa fa-calendar-o" aria-hidden="true"></i> Circulars</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="custom-list-style">
                    <li>Issue of Corrigendum No.1 Extension of last date of reciept of Bids
                      in respect of RFP selection for SWAYAM Project- <a
                        href="#">15/03/2017</a></li>

                    <li>"Smart India Hackathon - 2017 Grand Finale" - Mentor Registration
                      before 7th March, 2017- <a href="#">15/03/2017</a></li>

                    <li>Request for Proposal for selection of application support and
                      Helpdesk services for SWAYAM MOOCs Platform-<a href="#">15/03/2017</a>
                    </li>

                    <li>Issue of Corrigendum No.1 Extension of last date of reciept of Bids
                      in respect of RFP selection for SWAYAM Project- <a
                        href="#">15/03/2017</a></li>

                    <li>"Smart India Hackathon - 2017 Grand Finale" - Mentor Registration
                      before 7th March, 2017- <a href="#">15/03/2017</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i
                    class="fa fa-sticky-note-o" aria-hidden="true"></i> Tenders</a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="custom-list-style">
                    <li>Issue of Corrigendum No.1 Extension of last date of reciept of Bids
                      in respect of RFP selection for SWAYAM Project- <a
                        href="#">15/03/2017</a></li>

                    <li>"Smart India Hackathon - 2017 Grand Finale" - Mentor Registration
                      before 7th March, 2017- <a href="#">15/03/2017</a></li>

                    <li>Request for Proposal for selection of application support and
                      Helpdesk services for SWAYAM MOOCs Platform-<a href="#">15/03/2017</a>
                    </li>

                    <li>Issue of Corrigendum No.1 Extension of last date of reciept of Bids
                      in respect of RFP selection for SWAYAM Project- <a
                        href="#">15/03/2017</a></li>

                    <li>"Smart India Hackathon - 2017 Grand Finale" - Mentor Registration
                      before 7th March, 2017- <a href="#">15/03/2017</a></li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row is-flex">
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 white-panel">

          <h3 class="page-header  ">Anti-Ragging</h3>
          <img src="../assets/images/stop-ragging.png" alt="ANTI-RAGGING"
               class="img-responsive img-centered">
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 white-panel">
          <div class="row is-flex">
            <div class="col-xs-12">
              <h3 class="page-header">Recent</h3>
            </div>
          </div>
          <div class="row is-flex">
            <div class="col-xs-12 col-sm-6">
              <ul class="custom-list-style">
                <li><a href="">Smart India Hacksthon-2017</a></li>
                <li><a href="">CMAT-2017</a></li>
                <li><a href="">PMSSS J&k Admisssion</a></li>
                <li><a href="">PG Scholarship</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <ul class="custom-list-style">
                <li><a href="">PMKVY-TI</a></li>
                <li><a href="">GPAT-2017</a></li>
                <li><a href="">Pragati And Saksham</a></li>
                <li><a href="">National E-Scholarship</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
