<main class="container">
  <div class="row">
    <div class="col-xs-12 white-panel">
      <form [formGroup]="myForm" class="form-horizontal" (ngSubmit)="onSubmit(myForm.value)">
        <div class="form-group">
          <label for="inputName" class="col-sm-3 control-label hidden-xs">Username</label>
          <div class="col-sm-9 col-xs-12">
            <input
              type = "text"
              class = "form-control"
              id = "inputName"
              placeholder = "Enter Username"
              formControlName = "username">
            <!--<div *ngIf="myForm.controls['username'].valid">
              Valid Email
            </div>-->
          </div>
        </div>
        <div class="form-group">
          <label for="inputPass" class="col-sm-3 control-label hidden-xs">Password</label>
          <div class="col-sm-9 col-xs-12">
            <input
              type="password"
              class="form-control"
              id="inputPass"
              placeholder="Enter Password"
              formControlName="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-center">
            <button
              type="submit"
              class="btn btn-warning btn-raised">Submit
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</main>
