<main class="container-fluid side-collapse-container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-4">
      <a [routerLink]="['/annual_report']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-qrcode" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Annual Report</div>
      </div></a>
      <a [routerLink]="['/educational_network']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-list-alt" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Educational</div>
      </div></a>
      <a [routerLink]="['/library_services']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-book" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Library Services</div>
      </div></a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="../../assets/images/teacher.png" alt="Teacher" class="img-centered" style="height:400px;width: 250px">
    </div>
    <div class="col-xs-12 col-sm-4">
      <a [routerLink]="['/admissions']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Admission</div>
      </div></a>
      <a [routerLink]="['/placements']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-list" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Placements</div>
      </div></a>
      <a [routerLink]="['/model_syllabus']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-file-text-o" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Model Syllabus</div>
      </div></a>
    </div>
  </div>
</main>
