<main class="container-fluid side-collapse-container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-4">
      <a [routerLink]="['/scholarships']">
        <div class="white-panel text-center">
          <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
          <div><i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:4em"></i></div>
          <div>Scholarships</div>
        </div></a>
      <a [routerLink]="['/ethics']">
        <div class="white-panel text-center">
          <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
          <div><i class="fa fa-gg" aria-hidden="true" style="font-size:4em"></i></div>
          <div>Ethics</div>
        </div></a>
      <a [routerLink]="['/loans']">
        <div class="white-panel text-center">
          <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
          <div><i class="fa fa-rupee" aria-hidden="true" style="font-size:4em"></i></div>
          <div>Loans</div>
        </div></a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="../../assets/images/student.png" alt="Student" class="img-centered" style="height:400px;width: 250px">
    </div>
    <div class="col-xs-12 col-sm-4">
      <a [routerLink]="['/facilities_for_differently_abled']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-wheelchair" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Facilities for Differently Abled</div>
      </div></a>
      <a [routerLink]="['/facilities_for_girls']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-venus" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Facilities for Girls</div>
      </div></a>
      <a [routerLink]="['/want_to_be_an_entrepreneur']">
      <div class="white-panel text-center">
        <div><i class="fa fa-external-link pull-right" aria-hidden="true"></i></div>
        <div><i class="fa fa-pied-piper" aria-hidden="true" style="font-size:4em"></i></div>
        <div>Want to be an Entrepreneur</div>
      </div></a>
    </div>
  </div>
</main>
