<main class="container-fluid side-collapse-container">
  <!--Main jumbotron for a primary marketing message or call to action -->
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xs-12 white-panel">
          <h2 class="page-header">Council</h2>
          <div class="align">
            <p>The MHRD vide its letter No. 1-24/2014-TS-TS-II dated 05-01-2015 has advised AICTE to conduct the meeting of the Council with 18 ex-officio members and 15 members representing various organizations as per the laid down procedures.</p>

            <p> The list of these members is given below:-</p>
            <h3 class="page-header text-capitalize"><a data-toggle="collapse" href="#collapsible1"
                                                       aria-expanded="false" aria-controls="collapsible1">
              List
            </a></h3>

            <div id="collapsible1" class="collapse" aria-labelledby="List">
              <table class="table table-bordered table-hover">

                <tr>
                  <th>Clause 3(4)(a)</th>
                  <th></th>

                </tr>


                <tr>
                  <td>
                    Chairman to be appointed by Central Government(l)
                  </td>
                  <td>
                    Chairman, AICTE
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(b)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Vice-Chairman to be appointed by Central Government(l)
                  </td>
                  <td>
                    Vice Chairman, AICTE
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(c)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Secretary to the Government of India in the Ministry of the Central Government dealing with education(l)
                  </td>
                  <td>
                    Secretary(HE), MHRD
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(d)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    The Educational Advisor(T) to the Government of India (1)
                  </td>
                  <td>
                    Additional Secretary(TE), MHRD
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(e)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Four Chairmen of the Regional Committee of AICTE (4)
                  </td>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td>The Chairman of the Northern Regional Committee of AICTE</td></tr>
                      <tr><td>The Chairman of the Southern Regional Committee of AICTE</td></tr>
                      <tr><td>The Chairman of the Western Regional Committee of AICTE</td></tr>
                      <tr><td>The Chairman of the Eastern Regional Committee of AICTE</td></tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <th>Clause 3(4)(f)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    (i) to (v) Chairmen of the All India Boards of VE, TE, UG Studies in Engg and Technology, PG Education and Research in Engg, Management Studies (5)
                  </td>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td>The Chairman of the All India Board of Vocational Education</td></tr>
                      <tr><td>The Chairman of the All India Board of Technician Education</td></tr>
                      <tr><td>The Chairman of the All India Board of Under Graduate Studies in Engg and Technology</td></tr>
                      <tr><td>The Chairman of the All India Board of Post Graduate Education and Research in Engineering</td></tr>
                      <tr><td>The Chairman of the All India Board of Management Studies</td></tr></table>
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(g)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    One member to be appointed by the Central Government to represent the Ministry of Finance of the Central Government(l)
                  </td>
                  <td>
                    JS & FA(HRD)
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(h)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    One member to be appointed by the Central Government to represent the Ministry of Science & Technology of the Central Government(l)
                  </td>
                  <td>
                    Secretary Dept, of S&T


                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(i)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Four members to be appointed by the Central Government to represent the Ministries and departments of Central Govt other than those specified in (g) and (h) above.
                  </td>
                  <td>
                    <table class="table table-bordered table-hover">

                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                    </table>

                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(j)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Two members of Parliament of whom one shall be elected by the House of the People and other by Council of States
                  </td>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>

                    </table>
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(k)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Eight members to be appointed by the Central Government by rotation in the alphabetical order to represent the States/ UTs provided that an appointment under this clause shall be made on the recommendation of the Government of the State, or as the case may be, the Union Territory concerned(8)
                  </td>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td>Secretaries, Education/Technical Education from:-</td></tr>
                      <tr><td>Mizoram</td></tr>
                      <tr><td>Nagaland</td></tr>
                      <tr><td>Odisha</td></tr>
                      <tr><td>Puducherry</td></tr>
                      <tr><td>Punjab</td></tr>
                      <tr><td>Rajsthan</td></tr>
                      <tr><td>Sikkim</td></tr>
                      <tr><td>Tamilnadu
                      </td></tr>
                    </table>

                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(l)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Four members to be appointed by the Central Government to represent the organizations in the field of Industry and Commerce
                  </td>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                    </table>
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(m)</th>
                  <th></th>

                </tr>

                <tr>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td>Seven members to be appointed by the Central Government to represent</td></tr>
                      <tr><td>(i) the Central Advisory Board of Education;</td></tr>
                      <tr><td>(ii) the Association of Indian</td></tr>
                      <tr><td>(iii) the Indian Society for Technical Education(ISTE)</td></tr>
                      <tr><td>(iv) the Council of the Indian Institutes of Technology;</td></tr>
                      <tr><td>(v) the Pharmacy Council of India(PCI);

                      </td></tr>
                      <tr><td>(vi) the Council of Architecture(CoA);

                      </td></tr>
                      <tr><td>(vii) the National Productivity Council</td></tr></table>

                  </td>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td></td></tr>
                      <tr><td>Vacant</td></tr>
                      <tr><td>President AIU</td></tr>
                      <tr><td>Executive Secretary, ISTE</td></tr>
                      <tr><td>Vacant</td></tr>
                      <tr><td>President, PCI</td></tr>
                      <tr><td>Vice President, CoA</td></tr>
                      <tr><td>DG ,NPC</td></tr>

                    </table>
                  </td>
                </tr>
                <tr>
                  <th>Clause 3(4)(n)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Four members to be appointed by the Central Government to represent the organizations in the field of Industry and Commerce
                  </td>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                    </table>
                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(o)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Two members to be nominated by the Central Government who represent such interests not covered by the foregoing clauses as the Central Government may deem fit.
                  </td>
                  <td>
                    <table class="table table-bordered table-hover">
                      <tr><td>Vacant</td></tr>
                      <tr><td>Vacant</td></tr>
                    </table>


                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(p)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    The Director

                    The Chairman, UGC(l)
                  </td>
                  <td>
                    The Chairman, UGC


                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(q)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    The Director, IAMR(l)
                  </td>
                  <td>
                    The Director, IAMR


                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(r)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    The Director General, ICAR(l)
                  </td>
                  <td>
                    The Director General, ICAR






                  </td>

                </tr>
                <tr>
                  <th>Clause 3(4)(s)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    The Director General CSIR(l)


                  </td>
                  <td>
                    The Director General CSIR




                  </td>
                </tr>
                <tr>
                  <th>Clause 3(4)(t)</th>
                  <th></th>

                </tr>
                <tr>
                  <td>
                    Member Secretary to be appointed by Central Government(1)


                  </td>
                  <td>

                    Member Secretary, AICTE

                  </td>
                </tr>
              </table>
              <div><a data-toggle="collapse" href="#collapsible1"
                      aria-expanded="false" aria-controls="collapsible1"><i
                class="fa fa-angle-double-up pull-right" aria-hidden="true"
                style="font-size: 2em;"></i></a>
              </div>
            </div>



          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
      <div class="row">

        <div class="col-xs-12 white-panel">
          <h3 class="page-header">Council Minutes</h3>
          <div align="left">



            <a href="">37th </a><br>
            <a href="">38th </a><br>
            <a href="">39th </a><br>
            <a href="">40th </a><br>
            <a href="">41st </a><br>
            <a href="">42nd </a><br>
            <a href="">43rd </a><br>
            <a href="">44th </a><br>
            <a href="">45th </a><br>
            <a href="">46th </a><br>
            <a href="">47th </a>




          </div>

        </div>
      </div></div>
  </div>



</main>
